
body {
    margin: 0;
    padding: 0;
    background-color: #9DA2AD;
    display: grid;
    grid-template-areas: 
    "topbar menu"
    "image content"
    "footer";
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  header {
    background-color: #AEBFA0;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: auto;
  }
  
  div.menu {
    grid-area: menu;

  }
  
  div.recipe {
    grid-area: content;
    background-color: #E7E8EB;
    height: 250px;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
  }