
body {
    margin: 0;
    padding: 0;
    background-color: #9DA2AD;
  }
  
  header {
    background-color: #AEBFA0;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: auto;
  }

  
  div.menu {
  }

  span {
    background-color: #E7E8EB;
    height: 10px;
    width: 30px;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
  }
  
  div.recipe {
    margin-top: 25px;
    background-color: #E7E8EB;
    border-radius: 10px;
    
  }

  div.recipe img {
    margin-top: ;
    height: 200px;
    width: 200px;
    position: relative;
  }

  div.recipe h1 {
    position: relative;
    left: 250px;
    bottom: 200px;
  }

  div.recipe p {
    position: relative;
    left: 250px;
    bottom: 180px;

  }